
.menu {
    width: var(--header-mobile-menu-w);
    padding-left: 50px;
    box-sizing: border-box;
    background-color: var(--color-white);
    position: relative;
    right: calc(-1 * var(--header-mobile-menu-w));
    transition: right 0.25s var(--scrolling-anim);
}