

.btn {
    --width: 240px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--width);
    min-width: var(--width);
    min-height: 50px;
    font-size: 16px;
    font-family: var(--malex-font);
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.25s cubic-bezier(0.46,0.03,0.52,0.96);

    @media (max-width: 580px) {
        min-width: 160px;
        min-height: 40px;
        font-size: 12px;
    }
}

.btn_blue {
    background-color: var(--dodger-blue);
    color: var(--white);

    &:hover {
        background-color: var(--azur-blue);
    }
}

.btn_white {
    background-color: var(--white);
    color: var(--dodger-blue);
    border: 2px solid var(--dodger-blue);

    &:hover {
        color: var(--white);
        background-color: var(--dodger-blue);
    }
}
