
@import 'tailwindcss';

@theme {

	/* main colors */
	--color-white: #FFFFFF;
	--color-dodger-blue: #2690EE;
	--color-azur-blue: #1980DA;
	--color-ice-blue: #F4F7FF;
	--color-black: #000000;
	--color-graphite: #282828;
	--color-light-gray: #D8DCE7;
	--color-scarlet-red: #FF1717;
}

@layer components {
	.row-con {
		@apply w-full overflow-hidden;
	}

	.row {
		transition: transform 0.5s var(--scrolling-anim);

		@apply w-full flex flex-row;
	}

	.row-el {
		@apply size-full shrink-0;
	}

	.input {
		@apply w-full h-[45px] p-3 font-medium border 
		border-solid rounded-[5px] border-light-gray 
		box-border;
	}

	.svg-btn {
		@apply size-12 flex flex-col justify-center items-center;
	}

	.redirect-btn {
		transition: background-color 0.25s cubic-bezier(0.46,0.03,0.52,0.96);

		@apply w-full min-h-[45px] flex flex-col justify-center 
		items-center text-base font-medium rounded-[5px] md:min-h-[50px];
	}

	.redirect-btn-blue {
		@apply bg-dodger-blue text-white! md:hover:bg-azur-blue!;
	}

	.redirect-btn-white {
		@apply text-dodger-blue! border border-dodger-blue
		md:hover:bg-dodger-blue md:hover:text-white!;
	}
	
	.section-title {
		@apply text-2xl font-medium md:text-2xl lg:text-3xl;
	}
}

:root {

	/* animations */
	--appearing-anim: cubic-bezier(0.86, 0, 0.07, 1);
	--scrolling-anim: cubic-bezier(0, 0, 0.2, 1);

	/* borders */
	--dft-content-p: 15px;
	--dft-section-mb: 110px;

	/* sizes */
    --header-h: 90px;
	--header-mobile-menu-w: 280px;

    /* 'md' => 48rem */
    @media (max-width: 48rem) {
        --header-h: 70px;
    }
}

html {
	scroll-behavior: smooth;
}

body {
	@apply flex flex-col w-full h-dvh;
}

section {
	@apply mb-[50px] md:mb-[80px] lg:mb-[100px];
}

button {
	font-family: var(--malex-font);
	
	@apply p-0 bg-none cursor-pointer;
}

a {
	@apply text-black no-underline;
}

ul {
	@apply p-0 list-none;
}

main {
	margin: 0px auto;
	margin-top: calc(var(--header-h) + 20px);
	padding: 0px var(--dft-content-p);

	@apply w-full max-w-[1250px] flex-1 box-border;
}

input {
	font-family: var(--malex-font);

	@apply block text-base focus-visible:outline-none;
}

select {
	font-family: var(--malex-font);
	
	@apply block text-sm focus-visible:outline-none;
}