
.time {
    width: 75px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--text-base);
    transition: background-color 0.25s var(--appearing-anim);   
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
}