
.title {
    margin-bottom: 15px;
}

.undertitle {
    font-weight: 400;
    margin-bottom: 25px;
}

.scl_calendar_panel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scl_calendar_btn {
    --size: 30px;

    width: var(--size);
    height: var(--size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img {
        width: 20px;
        aspect-ratio: 1;
        user-select: none;
    }
}

.calendar_label {
    min-width: 200px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    user-select: none;
}

.calendar {
    margin-top: 30px;
    user-select: none;

    & th, td {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }

    & td {
        --size: 45px;

        width: var(--size);
        height: var(--size);
    }
}

.t_header {
    --size: 45px;

    width: var(--size);
    height: var(--size);
    padding-bottom: 3px;
}

.day {
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.25s var(--appearing-animation);

    &:hover {
        background-color: var(--dodger-blue);
        color: var(--white);
    }
}

.busy_day {
    background-color: var(--light-gray);
    color: var(--graphite);
}

.selected_day {
    background-color: var(--dodger-blue);
    color: var(--white);
}