
.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    font-size: var(--text-lg);
    text-align: center;
    border-radius: 50%;
    transition: background-color 0.25s var(--appearing-anim);
    cursor: pointer;
}