
.form {
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 101;
    opacity: 1;
    transition: opacity 0.3s var(--appearing-anim);
}